<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href='/static/style.css'>
		
		<!-- where the data gets loaded -->
		<script>

			tdata = JSON.parse({{tempdata|tojson|safe}});
			let selected = Object.keys(tdata.period)[Object.keys(tdata.period).length - 1]
			data = tdata.period[selected];
			period = tdata.period;

			america = tdata.continent['america'];
			europe = tdata.continent['europe'];
			africa = tdata.continent['africa'];
			oceania = tdata.continent['oceania'];
			asia = tdata.continent['asia'];

      		chartType = "LineChart";
      		containerId = "chartDiv";
      		options = {
				'title': "Currency Variations",
				'subtitle' :"lalala",
				'width':'100%',
				'height':'100%',
				'legend':'none',
				'hAxis': {
					'format': 'MMMM d, yyyy',
					'ticks': []
				}
			};

		</script>
		
		<!-- load the AJAX API -->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
		</script>

		<!-- where we create and display a chart -->
		<script type="text/javascript" src="/static/draw_chart.js"></script>

		<script type="text/javascript" src="/static/legend.js"></script>
		<script>

			function createCheckbox(country, continent) {
				var myDiv = continent + "Countries";
				var myDiv = document.getElementById(myDiv);

				var checkbox_container = document.createElement('div');

				var checkbox = document.createElement('input');

				checkbox.type='checkbox';
				checkbox.checked='true';
				checkbox.name=country;
				checkbox.class=country;
				checkbox.onchange=function(){ShowOrHide(checkbox)};

				var label = document.createElement('label');

				label.htmlFor = country;
				label.appendChild(document.createTextNode(country));

				checkbox_container.appendChild(checkbox);
				checkbox_container.appendChild(label);
				checkbox_container.appendChild(document.createElement('br'));

				checkbox_container.addEventListener('mouseout', function(){Unspotlight(checkbox.name)});
				checkbox_container.addEventListener('mouseover', function(){Spotlight(checkbox.name)});

				checkbox_container.className='countryOpt';

				myDiv.appendChild(checkbox_container);
			}

			function Spotlight(country) {
				var arr = view.getViewColumns();
				var id = dataTable.getColumnIndex(country);
				for (let i = 1; i < arr.length; i++) {
					if (arr[i] == id) {
						options['series'][i-1]['lineWidth'] = 10;
						break;
					}
				}
				reload_chart()
			}

			function Unspotlight() {
				for (var i in options['series']) {
					if (i != 0)
						options['series'][i]['lineWidth'] = 2;
				}
				reload_chart()
			}

			function UpdateDataTable(value) {
				var arr = view.getViewColumns();
				dataTable = new google.visualization.DataTable(period[value]);
				view = new google.visualization.DataView(dataTable);
				view.setColumns(arr);
				options.hAxis.ticks = dataTable.getDistinctValues(0);
				tmp = value - selected
				selected = value
				reload_chart(tmp)
			}

		</script>
		<script type="text/javascript" src='/static/load.js'></script>
	</head>

	<body onload="loadAll()" onresize="reload_chart()">
		<!-- the div where a chart will be displayed -->
		<div id="chartDiv"> </div>
		
		<div id='chartOptions'>
		
			<select id='period' onchange="UpdateDataTable(this.value)"> </select>
		
				<!--
				<div id="Clean">
					<input type="submit" id='clean' onclick='Clear()' value='Clear'>
				</div>
				-->
			
			<div id='America'><input type="checkbox" id="america" nome="america" checked="true" onchange="ContinentCheckbox(this)"> America <br></div>
			<div id='americaCountries' class='continent'></div>
			
			<div id='Europe'><input type="checkbox" id="europe" nome="europe" checked="true" onchange="ContinentCheckbox(this)"> Europe <br></div>
			<div id='europeCountries' class='continent'></div>
			
			<div id='Asia'><input type="checkbox" id="asia" nome="asia" checked="true" onchange="ContinentCheckbox(this)"> Asia <br></div>
			<div id='asiaCountries' class='continent'></div>
			
			<div id='Africa'><input type="checkbox" id="africa" nome="africa" checked="true" onchange="ContinentCheckbox(this)"> Africa <br></div>
			<div id='africaCountries' class='continent'></div>
			
			<div id='Oceania'><input type="checkbox" id="oceania" nome="oceania" checked="true" onchange="ContinentCheckbox(this, this.id)"> Oceania <br></div>
			<div id='oceaniaCountries' class='continent'></div>
		</div>
	</body>
</html>
