<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href='/static/style.css'>
		<!-- where the data gets loaded -->
		<script>

			tdata = JSON.parse({{tempdata|tojson|safe}});
			data = tdata.period[15];
			period = tdata.period;

			america = tdata.continent['america'];
			europe = tdata.continent['europe'];
			africa = tdata.continent['africa'];
			oceania = tdata.continent['oceania'];
			asia = tdata.continent['asia'];

      		chartType = "LineChart";
      		containerId = "chartDiv";
      		options = {
				'title': "Currency Variations",
				'subtitle' :"lalala",
				'width':'100%',
				'height':'100%',
				'legend':'none',
				'hAxis': {
					'format': 'MMMM d, yyyy',
					'ticks': []
				}
			};

		</script>
		
		<!-- load the AJAX API -->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
		</script>

		<!-- where we create and display a chart -->
		<script>

			// Load the Visualization API and the corechart package
			google.charts.load('current', {'packages':['corechart']});

			// Set a callback for when the API is loaded
			google.charts.setOnLoadCallback(drawChart);

			// This is the callback function which actually draws the chart
			function drawChart(){

				dataTable = new google.visualization.DataTable(data);
				options.hAxis.ticks = dataTable.getDistinctValues(0);

				view = new google.visualization.DataView(dataTable);
				
				options['series'] = Series();

				chart = new google.visualization.LineChart(document.getElementById(containerId));

				chart.draw(view, options);

				//google.visualization.drawChart({
				//	"containerId": containerId,
				//	"chartType": chartType,
				//	"options": options,
				//	"dataTable": data,
				//	"view": view
				//})
			}

			function Series() {
				var arr = view.getViewColumns();
				s = {}
				for (let i = 1; i < arr.length; i++) {
					var country = dataTable.getColumnId(arr[i]);
					if (america.includes(country))
						s[i-1] = { 'color': 'green'};
					else if (asia.includes(country) && europe.includes(country))
						s[i-1] = { 'color': 'purple'};
					else if (asia.includes(country) && africa.includes(country))
						s[i-1] = { 'color': 'orange'};
					else if (asia.includes(country))
						s[i-1] = { 'color': 'red'};
					else if (europe.includes(country))
						s[i-1] = { 'color': 'blue'};
					else if (oceania.includes(country))
						s[i-1] = { 'color': 'pink'};
					else if (africa.includes(country))
						s[i-1] = { 'color': 'yellow'};
					else
						s[i-1] = { 'color': 'black'};
				}

				return s;
			}

			function ContinentCheckbox(element) {
				ctrl = element.checked;
				continent = element.id;

				if (continent == "america") 
					for (let i = 0; i < america.length; i++) {
						ShowOrHide(america[i], ctrl);
					}
				else if (continent == "africa")
					for (let i = 0; i < africa.length; i++) {
						ShowOrHide(africa[i], ctrl);
					}
				else if (continent == "asia")
					for (let i = 0; i < asia.length; i++) {
						ShowOrHide(asia[i], ctrl);
					}
				else if (continent == "oceania")
					for (let i = 0; i < oceania.length; i++) {
						ShowOrHide(oceania[i], ctrl);
					}
				else if (continent == "europe")
					for (let i = 0; i < europe.length; i++) {
						ShowOrHide(europe[i], ctrl);
					}
			}

			function ShowOrHide(element, c=null) {
				
				if(c != null) {
					element = document.getElementsByName(element);
					element = element[0];
					element.checked = c;	
				}

				var country = element.name;

				x = document.getElementsByName(country);
				
				if (element.checked) {
					for (let i = 0; i < x.length; i++)
						x[i].checked = true;

					var arr = view.getViewColumns();
					arr.push(dataTable.getColumnIndex(country));
					arr.sort(function(a, b) {return a - b;});
					view.setColumns(arr);

				} else {
					for (let i = 0; i < x.length; i++)
						x[i].checked = false;
					arr = [];
					arr.push(dataTable.getColumnIndex(country));
					view.hideColumns(arr);
				}

				options['series'] = Series();
				chart.draw(view, options);

				if(x[0].checked) {
					if (c==null && america.includes(country)) {
						ctrl = true;
						for (let i = 0; i < america.length && ctrl; i++) {
							x = document.getElementsByName(america[i]);
							ctrl = x[0].checked;
						}
						document.getElementById("america").checked = ctrl;
					}
					if (c==null && asia.includes(country)) {
						ctrl = true;
						for (let i = 0; i < asia.length && ctrl; i++) {
							x = document.getElementsByName(asia[i]);
							ctrl = x[0].checked;
						}
						document.getElementById("asia").checked = ctrl;
					}
					if (c==null && europe.includes(country)) {
						ctrl = true;
						for (let i = 0; i < europe.length && ctrl; i++) {
							x = document.getElementsByName(europe[i]);
							ctrl = x[0].checked;
						}
						document.getElementById("europe").checked = ctrl;
					}
					if (c==null && africa.includes(country)) {
						ctrl = true;
						for (let i = 0; i < africa.length && ctrl; i++) {
							x = document.getElementsByName(africa[i]);
							ctrl = x[0].checked;
						}
						document.getElementById("africa").checked = ctrl;
					}
					if (c==null && oceania.includes(country)) {
						ctrl = true;
						for (let i = 0; i < oceania.length && ctrl; i++) {
							x = document.getElementsByName(oceania[i]);
							ctrl = x[0].checked;
						}
						document.getElementById("oceania").checked = ctrl;
					}
				} else {
					if(america.includes(country)) {
						document.getElementById("america").checked = false;
					} if(europe.includes(country)) {
						document.getElementById("europe").checked = false;
					} if(asia.includes(country)) {
						document.getElementById("asia").checked = false;
					} if(africa.includes(country)) {
						document.getElementById("africa").checked = false;
					} if(oceania.includes(country)) {
						document.getElementById("oceania").checked = false;
					}
				}
			}

			function createCheckbox(country, continent) {
				var myDiv = continent + "Countries";
				var myDiv = document.getElementById(myDiv);

				var checkbox_container = document.createElement('div');

				var checkbox = document.createElement('input');

				checkbox.type='checkbox';
				checkbox.checked='true';
				checkbox.name=country;
				checkbox.class=country;
				checkbox.onchange=function(){ShowOrHide(checkbox)};

				var label = document.createElement('label');

				label.htmlFor = country;
				label.appendChild(document.createTextNode(country));

				checkbox_container.appendChild(checkbox);
				checkbox_container.appendChild(label);
				checkbox_container.appendChild(document.createElement('br'));

				checkbox_container.addEventListener('mouseout', function(){Unspotlight(checkbox.name)});
				checkbox_container.addEventListener('mouseover', function(){Spotlight(checkbox.name)});

				checkbox_container.className='countryOpt';

				myDiv.appendChild(checkbox_container);
			}

			function loadCheckboxes() {
				for (let i = 0; i < america.length; i++)
					createCheckbox(america[i], 'america');
				document.getElementById('america').checked = true;

				for (let i = 0; i < asia.length; i++)
					createCheckbox(asia[i], 'asia');
				document.getElementById('asia').checked = true;

				for (let i = 0; i < africa.length; i++)
					createCheckbox(africa[i], 'africa');
				document.getElementById('africa').checked = true;

				for (let i = 0; i < oceania.length; i++)
					createCheckbox(oceania[i], 'oceania');
				document.getElementById('oceania').checked = true;

				for (let i = 0; i < europe.length; i++)
					createCheckbox(europe[i], 'europe');
				document.getElementById('europe').checked = true;

				myDiv = document.getElementById('period');
				for (var p in period) {
					var opt = document.createElement('option');
					opt.value=p;
					opt.text=p + ' days';
					opt.selected='selected';
					myDiv.appendChild(opt);
				}

			}

			function Spotlight(country) {
				var arr = view.getViewColumns();
				var id = dataTable.getColumnIndex(country);
				for (let i = 1; i < arr.length; i++) {
					if (arr[i] == id) {
						options['series'][i-1]['lineWidth'] = 10;
						break;
					}
				}
				chart.draw(view, options);
			}

			function Unspotlight() {
				for (var i in options['series']) {
					options['series'][i]['lineWidth'] = 2;
				}
				chart.draw(view, options);
			}

			function UpdateDataTable(value) {
				var arr = view.getViewColumns();
				dataTable = new google.visualization.DataTable(period[value]);
				view = new google.visualization.DataView(dataTable);
				view.setColumns(arr);
				options.hAxis.ticks = dataTable.getDistinctValues(0);
				chart.draw(view, options);
			}

		</script>
	</head>

	<body onload="loadCheckboxes()">
		<!-- the div where a chart will be displayed -->
		<div id='box'>
			
			<div id="chartDiv"> </div>
		
			<div id='chartOptions'>
		
				<select id='period' onchange="UpdateDataTable(this.value)"> </select>
		
				<!--
				<div id="Clean">
					<input type="submit" id='clean' onclick='Clear()' value='Clear'>
				</div>
				-->
			
				<div id='America'><input type="checkbox" id="america" nome="america" checked="true" onchange="ContinentCheckbox(this)"> America <br></div>
				<div id='americaCountries' class='continent'></div>
			
				<div id='Europe'><input type="checkbox" id="europe" nome="europe" checked="true" onchange="ContinentCheckbox(this)"> Europe <br></div>
				<div id='europeCountries' class='continent'></div>
			
				<div id='Asia'><input type="checkbox" id="asia" nome="asia" checked="true" onchange="ContinentCheckbox(this)"> Asia <br></div>
				<div id='asiaCountries' class='continent'></div>
			
				<div id='Africa'><input type="checkbox" id="africa" nome="africa" checked="true" onchange="ContinentCheckbox(this)"> Africa <br></div>
				<div id='africaCountries' class='continent'></div>
			
				<div id='Oceania'><input type="checkbox" id="oceania" nome="oceania" checked="true" onchange="ContinentCheckbox(this, this.id)"> Oceania <br></div>
				<div id='oceaniaCountries' class='continent'></div>
		</div>
		</div>
	</body>
</html>